<header class="header">
    <div class="left">
        box1
    </div>
    <div class="mid">
        <ul class="navbar">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Fitness Calculator</a></li>
            <li><a href="#">Contact US</a></li>
        </ul>
    </div>
    <div class="right">
        box3
    </div>
</header>
{{outlet}}